<!DOCTYPE HTML>
<html>
    <body>
        <form action="/view/clients/get/by_id" method="GET">
            <input type="text" name="client_id" value=""/>
            <input type="radio" name="responseType" value="json" id="contentJson"/>
            <label for="contentJson">json</label>
            <input type="radio" name="responseType" value="xml" id="contentXml"/>
            <label for="contentXml">xml</label>
            <input type="submit" value="Get accounts"/>
        </form>
    </body>
</html>
